<footer id="contact" class="bg-white text-gray-800">
    <div class="container mx-auto px-6 py-12 text-center">
        <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-white">Let's Connect</h2>
        <p class="max-w-xl mx-auto mb-8 text-gray-800 dark:text-gray-300"> Open to discussions about collaboration
            opportunities, web development
            projects, or topics related to educational technology.</p>

        <div class="mt-10 text-sm text-gray-700 dark:text-gray-400">
            <p>&copy; <span id="currentYear"></span> Ilham Wahyuni</p>
        </div>
    </div>
</footer>